@media only screen and (min-width : 200px) and (max-width : 575px) {
    .project-heading {
        font-size : 24px;
    }
    .copyright {
        font-size : 12px;
    }
}

/* media for tablets */
@media only screen and (min-width : 576px) and (max-width : 992px) {
    .frontpic {
        height : 100%;
        width : 40%;
        border-radius : 50%;
    }
    .recentposts {
        font-size : 18px;
    }
}